@import 'normalize.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0473aa;
  --secondry-color: ##5cb85c;
  --primary-text-color: #fff;
  --width: 1170px;
}

html {
  min-height: 100%;
  position: relative;
  font-size: 62.5%;
  min-height: calc(100vh + 2px);
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0 10px;
  line-height: 1.1;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

.container {
  width: var(--width);
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

p,
em {
  font-size: 14px;
}

.mb-15 {
  margin-bottom: 1.5rem;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
a:hover {
  color: #23527c;
  text-decoration: underline;
}
