.wrapperInput {
  display: inline-flex;
  align-items: center;
  label {
    color: #333333;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: right;
    padding-right: 15px;
  }
  span {
    padding-left: 4px;
    line-height: 2rem;
  }
  .capchaCode {
    margin-left: 15px;
    font-size: 14px;
    line-height: 1.5rem;
    padding: 8px 25px;
    color: #000;
  }
}
